// Colors
// ============

$c-white:        #ffffff;
$c-black:        #000000;
$c-orange:       #f15a22;
$c-orange-hover: #f97e50;


// Fonts
// ============

$f-source-sans-pro: 'Source Sans Pro', sans-serif;


// Font Sizes
// ============

$fs-sm-box-title: 48px;
$fs-sm-box-price: 24px;

$fs-md-box-title: 42px;
$fs-md-box-price: 18px;

$fs-lg-box-title: 48px;
$fs-lg-box-price: 24px;
